<ion-header color="primary">
  <ion-toolbar>
    <ion-title>API Google Drive</ion-title>
  </ion-toolbar>
</ion-header>

    

<ion-content fullscreen class="ion-padding">
  <ion-list>
    <ion-list-header>
      Ingresar sus credenciales
    </ion-list-header>

    <ion-item>
      <ion-icon slot="end" name="logo-google"></ion-icon>
      <ion-input required type="text"  placeholder="Email@gmail.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="eye"></ion-icon>
      <ion-input required type="text"  placeholder="Password"></ion-input>
    </ion-item>
  </ion-list>
  
    <ion-button expand="full" type="submit" class="ion-no-margin" (click)="login()">Authenticate with Dropbox</ion-button>
  

  <ion-button expand="full" type="submit" routerLink="/home">Ir a home</ion-button>


</ion-content>
